<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.dbQuanLyKaraokeConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=dbQuanLyKaraoke;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>