<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.dbQuanLyKaraokeConnectionString"
            connectionString="Data Source=.\SQLExpress;Initial Catalog=dbQuanLyKaraoke;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAO.Properties.Settings.dbQuanLyKaraokeConnectionString1"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=dbQuanLyKaraoke;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>